# Dependencies
node_modules
.pnpm
.pnpm-debug.log

# Output
dist
.output
.vercel
.netlify
.wrangler
.svelte-kit

# Logs
logs
*.log
*.tsbuildinfo

# Environment variables
.env

# OS-specific
.DS_Store
Thumbs.db

# turborepo
.turbo

# husky hoooks
.husky/ai-commit-message.js
.husky/prepare-commit-msg

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

*storybook.log
storybook-static
