# Dependencies
node_modules
.pnpm
.pnpm-debug.log

# Build artifacts
dist

# Logs
logs
*.log
*.tsbuildinfo

# Environment variables
.env

# OS-specific
.DS_Store
Thumbs.db

# turborepo
.turbo

# husky hoooks
.husky/ai-commit-message.js
.husky/prepare-commit-msg